/*TODO:
*
*/

/*TYPEFACES*/

/*HEADER + ANCHOR*/
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

/*Paragraph*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Momo+Trust+Display&display=swap');


body {
    background-color: #ABFFCC;
}


/*HEADER AND ANCHOR STYLES*/
h1, h2, h3, a
 {
    font-family: "Momo Trust Display", sans-serif;
    color: #59402A;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
      font-family: "Atkinson Hyperlegible Next", sans-serif;
      color: #59402A;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.3125rem;
}

/*LAYOUT DEBUG TOOL STYLES START*/
#debug-toggle:checked ~ #layout-debug section {
    outline: 0.25rem dashed #000000;
} /*we are making #debug-toggle in the checked state a sibling of #layout-debug using a combinator*/

#debug-toggle:checked ~ #layout-debug div {
    outline: 0.25rem dotted #a40303;
}

#debug-toggle:checked ~ #layout-debug nav,
#debug-toggle:checked ~ #layout-debug header,
#debug-toggle:checked ~ #layout-debug article {
    outline: 0.25rem dotted #0b6a00;
}
#debug-toggle:checked ~ #layout-debug a {
    outline: 0.25rem dotted blue;
}
/*LAYOUT DEBUG TOOL STYLES END*/

section {
    margin: 1.875rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.25rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #ABFFCC;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 0.25rem solid transparent;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    background-color: #59402A;
}

article {
    border: solid #59402A 0.3125rem;
}

/*TODO: LANGUAGE TOGGLE FEATURE*/
.lang-toggle a:link,
.lang-toggle a:visited {
    color: black;
}

a.active-link {
    border-style: solid;
    border-width: 0rem 0.3125rem
;
    border-radius: 0.3125rem;
}

.card-styles {
    display: flex;
    flex-direction: column;
    flex: 0.0625rem 0.0625rem 12.5rem;
    max-width: 12.5rem; 
    margin: 1.875rem;
    padding: 0.625rem;
}
.deck-styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.25rem;
}
.content-card {
    max-width: 62.5rem;
}

/*About Me*/
.about-me-header {
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
}

.about-me-header > div {
    flex: 1;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    
}

.about-image {
    width: 50%;
    height: auto;
}
